<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Автомобільні коврики</title>
    <link rel="stylesheet" href="../public/css/cart.css">
</head>

<body>
<%- include('blocks/header'); -%>
<div class="prod">

<table>
    <tr>
        <td>Товар</td>
        <td>Ціна</td>
        <td>Кількість</td>
        <td>Сума</td>
        <td></td>
    </tr>

    <% product.forEach(function(product) { %>

    <tr>
        <form id="form1"  method="post">
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td><button name="oneMin" value="<%= product._id %>">-</button> <input id="jak" name="inputValue" oninput="myFunction('<%= product._id %>')" value="<%= product.count %>">  <button name="onePlus" value="<%= product._id %>">+</button></td>
        <td><%= product.count * product.price %></td>
        <td> <button id="<%= product._id %>" name="conf" type="submit" value="<%= product._id %>" onclick="" hidden></button></td>
        <td><button id="vas" type="submit" name="butDelete" value="<%= product._id %>" onclick="delFunction(value)" >Delete</button></td>

        </form>
    </tr>

    <% }); %>

</table>

</div>
<script>
    function delFunction(id){

        localStorage.removeItem(id);
    }
    const arr=[];
    const arr1=[];

    let mod2 = document.querySelectorAll('#vas');
    let mod1 = document.querySelectorAll('#jak');
for(let i = 0; i<mod2.length; i++){
    arr1.push(mod1[i].value);
    arr.push(mod2[i].value);
    localStorage.setItem(arr[i], arr1[i])
    console.log('Localstorage', localStorage.getItem(arr[i]))
}



        function  myFunction(id) {
            let k = document.getElementById(id);
            setTimeout(() => {
                k.click();
            }, 1000)
        }
</script>

</body>
</html>