<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Автомобільні коврики</title>
    <link rel="stylesheet" href="../public/css/product.css">
</head>

<body>
<%- include('blocks/header'); -%>
<div class="block_pick">

    <h1> <%= product.name  %></h1>
    <img src="<%= product.picture %>">

</div>
<div class="block_descript">

    <h1> <%= product.name  %></h1>
    <h2> <%= product.description%>></h2>
    <bdi><%= product.price %> $</bdi>
    <p> <%= product.stock %> </p>

    <div class="quantity">
        <form method="post">

            <input type="text" id="name123" name="name" value='1'>
        <button type="submit" onclick="myFunction()" >Add</button>
        </form>
<script>
    function myFunction() {
       alert('Товар додано в корзину')
    }
</script>


</div>
</div>

 </body>

</html>