<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Автомобільні коврики</title>
    <link rel="stylesheet" href="../public/css/product.css">
</head>

<body>
<%- include('blocks/header'); -%>
<div class="block_pick">

    <h1> <%= product.name  %></h1>
    <img src="<%= product.picture %>">

</div>
<div class="block_descript">

    <h1> <%= product.name  %></h1>
    <h2> <%= product.description%>></h2>
    <bdi><%= product.price %> $</bdi>
    <p> <%= product.stock%> </p>

    <div class="quantity">
        <label class="screen-reader-text" for="quantity_63120788828d6"></label>
        <input type="number" id="quantity_63120788828d6" class="input-text qty text" step="1" min="1" max="" name="quantity" value="1" title="Кол-во" size="4" placeholder="" inputmode="numeric">
        <span class="quantity-button quantity-up"></span><span class="quantity-button quantity-down"></span></div>


    <button>В корзину</button>
</div>

</body>
</html>